# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build and dependency files
/target/
/node_modules/
/bin/
/out/
/build/

# Ignore logs and temp files
*.log
*.tmp
